:root {
  --main-bgcolor: #eef5ff;
  --section-bgcolor: #fff;
  --sidebar-radius: 12px;
  --form-unique-color: #115;
  --form-unique-bgcolor: #003;
  --step-id-finished-bgcolor: #6e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}
/* Completely removes spin buttons for input number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* Global Properties */
button {
  cursor: pointer;
  border: 0;
}
.flex { display: flex; }
.flex.column { flex-direction: column; }

/************  MAIN & PARENT SECTION ************/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: var(--main-bgcolor);
}
section.multi-step-container {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 16px;
  gap: 20px;
  background-color: var(--section-bgcolor);
  border-radius: var(--sidebar-radius);
  width: 740px; /* Width of the Multi STEP CONTAINER */
  min-height: 450px;
}

/**************  SIDEBAR ****************/
.steps__sidebar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 12px;
  border-radius: var(--sidebar-radius);
}
.sidebar__desktop {
  background-image: url("./../images/bg-sidebar-desktop.svg");
  gap: 14px;
  
  & button {
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    & .step--id {
      border-radius: 50%;
      padding: 6px 12px;
      font-size: 0.88rem;
      color: #fff;
      border: 1px solid currentColor;
      &.finished {
        background-color: var(--step-id-finished-bgcolor);
        color: #000!important;
        border-color: var(--step-id-finished-bgcolor);
      }
    }
    &:hover .step--id, &:hover div p:first-of-type {
      color: var(--step-id-finished-bgcolor);
    }
    & div {
      text-align: right;
      & p:first-of-type {
        color: #9f9f9f;
      }
      & p:last-of-type {
        color: #e1e1e1;
      }
    }
  }
}


/**************  FORM STEP ****************/
.form__step {
  padding: 15px 30px;
  display: none;
  & .step--title {
    font-size: 1.8rem;
    padding-bottom: 6px;
    color: var(--form-unique-color);
  }
  
  & .step--bio {
    font-size: 0.85rem;
    color: #999;
  }
  
  & .step--form {
    padding: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px; /* Space between each (label & input) div container */
    & div * {
      display: block;
    }
    & label {
      color: var(--form-unique-color);
      font-weight: 500;
    }
    & input {
      width: 100%;
      margin-top: 7px; /* Space Between the input and the label */
      border: 0;
      border-radius: 4px;
      padding: 8px 10px;
      font-size: 0.9rem;
      outline: 2px solid #eee;
      transition: 0.05s ease-out;
      &:focus {
        outline: 3px solid dodgerblue;
      }
    }
  }
  
  & .step--submit--btn {
    align-self: flex-end;
    background-color: var(--form-unique-bgcolor);
    color: #fff;
    border-radius: 8px;
    padding: 12px 17px;
    margin-top: 14px;
    transition: 0.2s ease-out;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.4;
    }
  }
}

.form__step.active { display: block; animation: form_step_anime 0.8s ease; }

/***** Plans *****/
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
  & .plan {
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #eee;
    text-align: left;
    
    & .plan-content {
      padding-top: 20px;
      
      & p:first-of-type {
        color: var(--form-unique-color);
        font-weight: 600;
        padding-bottom: 3px;
        font-size: 1rem;
      }
      & p:last-of-type {
        color: #999;
        font-size: 0.9rem;
      }
    }
    
    &:hover {
      border-color: var(--form-unique-bgcolor);
    }
  }
}
.plan.chose {
  border-color: var(--form-unique-color)!important;
}
/*************** ANIMATION *************/
@keyframes form_step_anime {
  from { opacity: 0; }
  to { opacity: 1; }
}
