:root {
  --main-bgcolor: #eef5ff;
  --section-bgcolor: #fff;
  --sidebar-radius: 12px;
  --form-unique-color: #115;
  --form-unique-bgcolor: #003;
  --step-id-finished-bgcolor: #6e6;
  --section-container-width: 740px;
  --section-container-height: 480px;
  --section-container-template: 25% auto;
  --sidebar-desktop-gap: 14px;
  --steps-sidebar-padding: 12px;
  --step-bio-bottom-padding: 0;
  --step-form-1-input-outline-width: 2px;
  --step-form-1-input-outline-color: #d6d6d6;
  --step-form-1-input-radius: 4px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}
/* Completely removes spin buttons for input number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* Global Properties */
button {
  cursor: pointer;
  border: 0;
}
.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.space-between { justify-content: space-between; }
.flex.align-center { align-items: center; }
/************  MAIN & PARENT SECTION ************/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: var(--main-bgcolor);
}
section.multi-step-container {
  display: grid;
  grid-template-columns: var(--section-container-template);
  padding: 16px;
  gap: 20px;
  background-color: var(--section-bgcolor);
  border-radius: var(--sidebar-radius);
  width: var(--section-container-width); /* Width of the Multi STEP CONTAINER */
  min-height: var(--section-container-height);
}

/**************  SIDEBAR ****************/
.steps__sidebar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--steps-sidebar-padding);
  border-radius: var(--sidebar-radius);
}
.sidebar__desktop {
  background-image: url("./../images/bg-sidebar-desktop.svg");
  gap: var(--sidebar-desktop-gap);
  
  & .step--btn {
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    & .step--id {
      border-radius: 50%;
      padding: 6px 12px;
      font-size: 0.9rem;
      color: #fff;
      border: 1px solid currentColor;
      &.finished {
        background-color: var(--step-id-finished-bgcolor);
        color: #000!important;
        border-color: var(--step-id-finished-bgcolor);
      }
    }
    &:hover .step--id {
      color: tomato;
    }
    & div {
      text-align: right;
      & p:first-of-type {
        color: #9f9f9f;
        font-size: 1rem;
      }
      & p:last-of-type {
        color: #e1e1e1;
        font-size: 0.95rem;
      }
    }
    & .step--id.finished ~ div p:first-of-type {
      color: var(--step-id-finished-bgcolor);
    }
  }
}

.navigation-buttons {
  display: flex;
  position: absolute;
  bottom: 18px;
  justify-content: space-between;
  align-items: flex-end;
  width: 88%;
  & .go--back--btn {
    background-color: transparent;
    color: #999;
    font-size: 0.98rem;
  }
}

.validate--message {
  color: red;
  position: absolute;
  bottom: 28px;
  left: 50%;
  font-weight: bold;
  text-decoration: underline;
  user-select: none;
  transform: translateX(-50%);
}

/**************  FORM STEP ****************/
.form__step {
  padding: 15px 30px;
  display: none;
  height: 100%;
  position: relative;
  & .step--title {
    font-size: 1.8rem;
    padding-bottom: 6px;
    color: var(--form-unique-color);
  }
  
  & .step--bio {
    font-size: 0.92rem;
    color: #999;
    padding-bottom: var(--step-bio-bottom-padding);
  }
  
  & .step--form {
    padding: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    
    gap: 24px; /* Space between each (label & input) div container */
    & div * {
      display: block;
    }
    & label {
      color: var(--form-unique-color);
      font-weight: 500;
      font-size: 1.1rem;
    }
    & input {
      width: 100%;
      margin-top: 7px; /* Space Between the input and the label */
      border: 0;
      border-radius: var(--step-form-1-input-radius);
      padding: 8px 10px;
      font-size: 1rem;
      outline-width: var(--step-form-1-input-outline-width)!important;
      outline-style: solid;
      outline-color: var(--step-form-1-input-outline-color);
      transition: 0.05s ease-out;
      &:focus {
        outline: calc(var(--step-form-1-input-outline-width) + 1px) solid dodgerblue;
      }
    }
  }
  & .step--submit--btn {
    background-color: var(--form-unique-bgcolor);
    color: #fff;
    border-radius: 8px;
    padding: 12px 17px;
    font-size: 1rem;
    transition: 0.2s ease-out;
    &.summary {
      padding: 12px 26px;
      background-color: mediumseagreen;
    }
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.4;
    }
  }
}

#form__step__1 .navigation-buttons { justify-content: flex-end; }

.form__step.active { display: block; animation: form_step_anime 0.8s ease; }

/***** Plans *****/
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
  
  & .plan {
    padding: 14px 10px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #eee;
    text-align: left;
    transition: 0.05s ease-in-out;
    
    & .plan-content {
      padding-top: 20px;
      
      & p:last-of-type {
        color: #999;
        font-size: 0.9rem;
      }
    }
    
    &:hover {
      border-color: var(--form-unique-bgcolor);
    }
  }
}
.plan-title {
  color: var(--form-unique-color);
  font-weight: 600;
  padding-bottom: 3px;
  font-size: 1rem;
}
.plan.chose {
  border-color: var(--form-unique-color)!important;
}
.plan-type-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 25px;
  background-color: #eef;
  font-size: 0.8rem;
  color: #333;
  position: relative;
  & .plan_type {
    font-size: 0.95rem;
  }
  & .switch {
    margin: 15px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  & .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & .slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
  }
  & .slider::before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    transition: 0.4s;
  }
  & input + .slider {
    background-color: #011633;
  }
  & input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; 
  }
  & input:checked + .slider::before {
    transform: translateX(26px);
  }
  & .slider.round {
    border-radius: 34px;
  }
  & .slider.round::before {
    border-radius: 50%;
  }
}
/***** Addons *****/
.addons {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.addons .addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 10px;
  border: 2px solid #eee;
  border-radius: 8px;
  transition: 0.05s ease;
  position: relative;
  
  & label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    align-content: center;
    
    & span { display: block;}
    & span:first-of-type {font-weight: 600; color: var(--form-unique-color); padding-bottom: 5px;}
    & span:last-of-type {color: #444; font-size: 0.9rem;}
  }
  & input[type="checkbox"], .addon-price {
    accent-color: purple;
    color: purple;
  }
  &:hover { border-color: purple; }
}
.addon:has(input[type="checkbox"]:checked) { border-color: purple; }

#offer { /*** montly & yearly ***/
  position: absolute; 
  right: -5px;
  background-color: mediumseagreen;
  color: #fff;
  font-weight: bold;
  padding: 12px 8px;
  border-radius: 7px;
  transform: rotate(20deg) translateY(-50%);
  font-size: 1.2rem;  
  top: 50%;
}

#summary {
  background-color: var(--main-bgcolor);
  padding: 12px 14px;
  border-radius: 8px;
  margin: 20px 0;
  & .plan-summary div button {
    margin-top: 6px;
    font-size: 0.9rem;
    color: #888;
    background-color: transparent;
    text-decoration: underline;
  }
  & hr {
    margin: 14px 0;
    border: 1px solid #ddd;
  }
  & ._addon_ {
    padding: 8px 0;
    color: #222;
    font-size: 0.9rem;
  }
}
#total-price {
  display: flex;
  justify-content: space-between;
  & .total-price {
    font-size: 2rem;
    color: purple;
  }
}
.thanks-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  & img {
    width: 84px;
    margin-bottom: 4px;
  }
  & p {
    font-size: 0.95rem;
    color: #6f6f6f;
  }
  animation: thanks_anime 0.2s ease;
}

/*************** ANIMATION *************/
@keyframes form_step_anime {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes thanks_anime {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

/*************** RESPONSIVE **************/
@media (min-width: 1100px) {
  :root {
    --section-container-width: 830px;
    --section-container-height: 520px;
    --sidebar-desktop-gap: 16px;
    --section-container-template: 27% auto;
    --steps-sidebar-padding: 16px;
    --step-bio-bottom-padding: 4px;
    --step-form-1-input-outline-width: 3px;
  }
  html {
    font-size: 18px!important;
  }
  .step--form input {
    margin-top: 10px!important;
  }
  .plan-type-switcher {
    margin-top: 30px;
  }
  .plan-type-switcher .switch {
    width: 60px;
    height: 30px;
  }
  .plan-type-switcher .slider::before  {
    width: 26px;
    height: 22px;
  }
  #offer {
    right: -45px;
  }
  .step--submit--btn {
    font-size: 1.1rem;
  }
  .addon { padding: 24px 20px!important; }
  .addon input[type="checkbox"] { transform: scale(1.4); }
}
@media (min-width: 1450px) {
  :root {
    --section-container-width: 940px;
    --section-container-height: 600px;
    --sidebar-desktop-gap: 20px;
  }
  html { font-size: 20px!important;}
  .step--form input {
    outline-width: 3px!important;
    margin-top: 5px;
    &:focus { outline-width: 5px!important }
  }
  .plan-type-switcher {
    margin-top: 45px;
  }
  .plan {
    padding: 24px 20px!important;
    & img { width: 52px; }
    & p {
      font-size: 1.1rem;
    }
  }
}
@media (min-width: 1690px) {
  :root {
    --section-container-width: 1190px;
    --section-container-height: 750px;
    --step-form-1-input-outline-width: 4px;
    --sidebar-desktop-gap: 24px;
    --step-form-1-input-radius: 25px;
  }
  html { font-size: 24px!important; }
  .step--form {
    gap: 30px!important;
    & input { margin-top: 13px!important;
      padding: 15px 17px!important;
    }
  }
  .plan img { width: 72px!important; }
  .plan-type-switcher { padding: 18px 20px; }
  .plan_type { font-size: 1.2rem!important; }
  .plan-type-switcher .switch {
    width: 70px;
    height: 42px;
    
  }
  .plan-type-switcher .slider::before {
    width: 36px;
    height: 30px;
    bottom: 6px;
  }
  .addon {
    padding: 28px 30px!important;
    & input[type="checkbox"] { transform: scale(1.8); }
  }
  .addons {gap: 22px;}
  .step--id {
    border-radius: 8px!important;
  }
}
@media (min-width: 1900px) {
  :root {
    --section-container-width: 1440px;
    --section-container-height: 900px;
    --step-form-1-input-outline-width: 5px;
    --sidebar-desktop-gap: 32px;
    --step-form-1-input-radius: 8px;
  }
  html { font-size: 27px!important; }
  .step--submit--btn:hover {
    transform: scale(1.2);
  }
}
